@media (max-width: 750px) {
	.anchor {
		font-size: 3em;
	}
	
	th, td {
    	padding: 10px;
	    text-align: left;
	    width: 100%;
	    vertical-align: baseline;
	    display: block;
	}
	
	#navBar a {
		font-size: 0.5em;
	}
}