/*
   The main style sheet for the Hacklahoma website.
   TODO reduce use of absolute (px/pt) measurements
*/

/*
	Avenir typeface
*/
@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir/AvenirNextLTPro-UltLt.otf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Avenir";
    src: url("fonts/Avenir/AvenirNextLTPro-Regular.otf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir/AvenirNextLTPro-Medium.otf");
    font-weight: 400;
    font-style: normal;
}

/*
	Futura typeface
*/
@font-face {
	font-family: "Futura";
	src: url('fonts/Futura/FuturaPRO-Book.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: "Futura";
	src: url('fonts/Futura/FuturaPRO-Heavy.otf');
    font-weight: 500;
    font-style: normal;
}

/*
	Default settings for the body of the webpage.
*/
body {
	background: #333333; /* Dark grey */
	-webkit-font-smoothing: antialiased; /* Makes fonts smoother. Not necessary, just looks nice. */

	font-family: "Avenir"; /* Use Avenir by default, can change for certain elements. */
	color: #FFF; /* Text color should be white by default, can change for certain elements. */

	overflow-x: hidden;
	overflow-y: scroll;

	margin: 0 auto;
	width: 100%;
	height: 100%;
}

/*
	Default settings for text elements within the h1 tag.
*/
h1 {
	font-family: "Futura";
	font-size: 4em;
    font-weight: 300;
    letter-spacing: .06em;
	margin-top: .4em;
	margin-bottom: .4em;
}

/*
	Default settings for text elements within the h3 tag.
*/
h3 {
    font-family: "Futura";
	font-size: 1.5em;
    font-weight: 300;
    letter-spacing: .06em;
	margin-top: .4em;
	margin-bottom: .4em;
}

/*
	Settings to use futura heavy.
*/
h1 .bold, h3 .bold {
	font-family: "Futura";
    font-weight: 500;
	font-size: 2em;
	letter-spacing: .06em;
}

/*
	Default settings for the main section headings.
*/
.anchor {
	font-family: "Futura";
    font-weight: 300;
	font-size: 4em;
	margin-top: .4em;
	margin-bottom: .4em;
	padding-top: 60px;
}

/*
	Default settings for text elements within the p tag.
*/
p {
    font-weight: 300;
	font-size: 1em;
	margin-top: .4em;
	margin-bottom: .4em;
}

/*
	Settings to use avenir medium.
*/
p .bold {
	font-size: 1em;
}

/*
	The header of the main page. Contains the logo, date, location, and the information button.
*/
#header {
	text-align: center;
	display: table;
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: scroll;
}

/*
	The style for the logo placed in the header.
*/
.logo {
	display: block;
	margin-top: -2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -3em;
}

/*
	The style for the dates placed in the header.
*/
.dates {
	font-size: 42px;
	text-align: center;
	text-transform: none;
	margin-top: .625em;
	margin-bottom: 0;
}

/*
	The style for the location placed in the header.
*/
.location {
	font-size: 28px;
	text-align: center;
	text-transform: none;
	margin: 0;
}

/*
	The style for the information button placed in the header.
*/
.infoButton {
	background-color: #912929; /* Red from logo. */
	border: none;
	color: #FFF;
	text-align: center;
	font-size: 1em;
	text-transform: none;
	padding: 0.5em 1.313em;
	width: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition: all 0.5s;
	cursor: pointer;
	display: block;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4.125em;
    position: relative;
    vertical-align: center;
}

/*
	Stylize the text within the information button.
*/
.infoButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
    font-family: "Avenir";
    font-weight: 300;
    font-size: 1.6em;
}

/*
	Stylize the text in the information button after the user hovers over it.
*/
.infoButton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

/*
	Change the look of the information button when the user hovers over it.
*/
.infoButton:hover span {
	padding-right: 25px;
}

/*
	Change the look of the information button after the user has hovered over it.
*/
.infoButton:hover span:after {
	opacity: 1;
	right: 0;
}

/*
	Style for the nav bar wrapper.
*/
#navWrapper {
	position: relative;
	bottom: 3.125em;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 90;
}

/*
	Style for the nav bar.
*/
#navBar {
	width: 100%;
	height: 3.125em;
	text-align: center;
	background-color: #000000;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	z-index: 89;
}

/*
	Style for the links within the nav bar.
*/
#navBar a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 18px 14px;
	text-decoration: none;
	height: 0.75em;
	vertical-align: center;
}

/*
	Style for the links in the nav bar when the user hovers over them.
*/
#navBar a:hover {
	background-color: #912929;
	height: 0.75em;
	transition: 0.5s;
}

/*
	Style for the active links in the nav bar.
*/
#navBar a.active {
	background-color: #912929;
	height: 0.75em;
	transition: 0.5s;
}

/*
	Properties for the position of the nav bar when the user is not looking at the content pane.
*/
.absolute {
	position: absolute;
	left: 0;
	right: 0;
}

/*
	Properties for the position of the nav bar when the user is looking at the content pane.
*/
.fixed {
	position: fixed;
	top: 0;
	left: 0;
}

/*
	Style for the nav bar links to be underlined.
*/
.underline {
    border-bottom: 1px solid;
    transition: 0.5s;
}

/*
	Style for the nav bar links to not be underlined.
*/
.noUnderline {
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

/*
	Style for the content container.
*/
#contentPane {
	position: relative;
	padding-top: 0.625em;
	width: 100%;
	height: auto;
	overflow: auto;
	left: 0;
    margin: 0 0%;
}

/*
	Style for the About section.
*/
#about {
	width: 92%;
	height: auto;
    margin: 0 4%;
}

/*
	Style for the section explaining what a hackathon is.
*/
#explain {
	width: 50%;
	height: auto;
	float: right;
    /* Usually you want to clear your floats, or at least one of them. */
    clear: both;
	margin-bottom: 4em;
	padding-right: 2em;
}

/*
	Style for the section explaining our mission statement.
*/
#missionStatement {
	width: 50%;
	height: auto;
	margin-bottom: 4em;
	overflow: hidden;
	padding-left: 2em;
}

/*
	Style for the FAQ section.
*/
#faq {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2em;
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	color: #000000;
}

/*
	Style for the content of the FAQ section.
*/
#faqContent {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

/*
	Style for each item of the FAQ section.
*/
#faqItem {
	flex: 0 0 25%;
	margin-left: 2em;
	margin-right: 2em;
	height: auto;
	margin-bottom: 5px;
}

/*
	Style for the Agenda section.
*/
#agenda {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*
	Style for the Sponsors section.
*/
#sponsors {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2em;
	height: auto;
	width: 100%;
	background-color: #FFFFFF;
	color: #000000;
}

/*
	Content wrapper for the Sponsors section.
*/
.sponsorsLogos {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/*
	Style for the each sponsor's logo.
	
	TODO: Might have to change this to be specific for each sponsor.
*/
.sponsorLogo {
	flex: 0 0 auto;
	margin: auto 2em;
}

.sponsorLogo img {
	width: auto;
	height: auto;
}

/*
	Style for the Judges section.
*/
#judges {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/*
	Style for the footer.
*/
#footer {
	background-color: #FFFFFF;
	color: #000000;
	left: 0;
	right: 0;
	width: 100%;
	height: 10em;
	position: absolute;
	bottom: -12.5em;
	text-align: center;
	flex-shrink: 0;
}

/*
	Style for the social media panel in the footer.
*/
.socialMedia {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 21.875em;
	height: 7.188em;
}

/*
	Style for the facebook logo.
*/
.facebook {
	display: block;
}

/*
	Style for the twitter logo.
*/
.twitter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
	Style for the form that pops up when the user clicks the
	information button.

	TODO: fade in animation?
	TODO: thank the user for their interest after submission.
*/
#infoFormPopup {
	background-color: #FFF;
	height: 90vh;
	width: 50vw;
	display: none;
	z-index: 9999;
	position: fixed;
	top: 5vh;
	left: 25vw;
	right: 25vw;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	overflow: auto;
	color: #000;
	border-radius: 0.25em;
}

/*
	Style for the content within the info form.
*/
.infoFormContent {
	padding: 0.125em 1em;
}

/*
	Style for the close button on the info form.
*/
.infoFormClose {
	color: #000;
	float: right;
	font-size: 1.75em;
	font-weight: bold;
}

/*
	Style for what happens when the user hovers over the
	close button on the info form.
*/
.infoFormClose:hover {
	color: #912929;
	text-decoration: none;
	cursor: pointer;
}

/*
	Style for the text inputs on the info form.
*/
#infoFormPopup input[type=text] {
	width: 75%;
	border-radius: 0.25em;
	border: solid 1px black;
	font-size: 1.25em
}

/*
	Style for the submit button on the info form.
*/
#infoFormPopup input[type=submit] {
	display: block;
	font-family: "Avenir";
	font-weight: 300;
	font-size: 2em;
	color: #FFF;
	border: none;
	margin: 0.5em auto;
	padding: 0.5em 1em;
	background-color: #912929;
	text-align: center;
	vertical-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*
	Style for what happens when the user hovers over the submit
	button on the info form.
*/
#infoFormPopup input[type=submit]:hover {
	background-color: #000000;
	cursor: pointer;
}
