/* Use with main.css
 * Just includes some additional rules for small displays. */

 /* Settings for mobile (less than or 750px wide) */
 @media (max-width: 750px) {
     #menu-trigger-label {
         display: block !important;
     }

     #navWrapper {
         text-align: left;
         height: 100%;
         width: 60%;
         top: 0;
         right: auto;
         position: fixed !important;
         font-size: 1.8em;
     }

     .menuClosed {
         left: calc(0px - 60%) !important;
     }

     #navWrapper a {
         display: block;
     }

     #navBar {
         text-align: left;
         height: 100vh;
         width: 60%;
         padding-top: 48px;
     }

     #navBar a {
         text-align: left;
     }
     
     #title {
     	font-size: 12vw;
     }
     
     .dates {
     	font-size: 8vw;
     }
     
     .location {
     	font-size: 6vw;
     }
     
     #about {
         width: calc(100% - 4em);
     }
     
     #faqItem {
     	flex: 0 0 calc(100% - 4em);
     }

     #agenda {
         width: calc(100% - 4em);
         margin: 2em;
         padding: 0;
     }

     #judges {
         width: calc(100% - 4em);
         margin: 2em;
         padding: 0;
     }
     
     #mlh-trust-badge {
     	right: 0 !important;
     }
 }
